body {
    margin: 0;
    background-color: #F8F8F8;
}

.phone-bar {
    display: flex;
    width: 100%;
    background-color: white;
    position: sticky;
    box-sizing: border-box;
    }
.phone-bar__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
    }

.divider {
    border-left: 2px solid #EAEAEA;
    height: 30px;
    }

.border-h1 {
    border-left: 3px solid #41F6D7;
    padding: 16px;
    height: 30px;
    margin-top: 24px;
    align-items: center;
    display: flex;
}

h1 {
    width: 304;
    height: 40;
    margin: 24px 16px;
}


.navigation {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 16px;
    margin-top: 16px;
    overflow: scroll;
}
.nav-btn {
    font-size: 18px;
    padding: 10px;
    width: 288px;
    flex-wrap: 0;
    font-size: 16px;
}

.text {
    width: 320;
    height: 322;
    font-size: 14px;
    margin: 16px;
}

.latter-btn {
    font-size: 16px;
    color: #1B1C21;
    width: 132px;
    height: 24px;
}

.fon-img {
    margin-top: 16px;
}


li {
    list-style: none;
}
button {
    border: none;
    background-color: #F8F8F8;
    color: #7E7E82;
}
button:focus{
    border: 2px solid #B8FFEC;
    background-color: white;
}
.info-2 {
        display: none;
    }
    .info-2:has(+ .latter-btn:focus) {
        display: block;
    }

.fon-img {
width: 100%;
height: 100%;
}


.tablet-bar{
        display: none;
    }
.nav-section {
    display: none;
}
.reviews {
        display: none;
    }

@media (min-width: 598px) {
    .tablet-bar {
        display: flex;
        justify-content: space-between;
        background-color: white;
        position: sticky;
        width: 100%;
        height: 88px;
        padding: 0px 24px;
    }

    .left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 0;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 0;
        margin: 0;
    }

    .divider {
    border-left: 2px solid #EAEAEA;
    height: 30px;
    }

    .border-h1 {
    border-left: 3px solid #41F6D7;
    padding: 16px;
    height: 30px;
    margin-top: 24px;
    align-items: center;
    display: flex;
}

h1 {
    width: 257;
    height: 40;
    margin: 24px 16px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.text {
    width: 100%;
    font-size: 16px;
}
.info {
    color: #1B1C21;
}
.info-2 {
        display: block;
    }

.fon-img {
width: 100%;
height: 100%;
}

    .phone-bar {
        display: none;
    }
}

@media (min-width: 1020px) {
    .nav-section {
    display: flex;   
}
 .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section {
    display: flex;   
}
.icons {
    padding: 5px;
}


.services-section {
    color: #1B1C21;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-section:focus{
    border: none;
    background-color: #F8F8F8;
}

 .navigation {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    margin-top: 16px;
}
.nav-btn {
    font-size: 18px;
    padding: 10px;
    margin: 0;
    align-items: center;
}

.reviews {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 16px;
}


.tablet-bar {
    display: none;
}
.phone-bar {
    display: none;
}
}